.header {
	background-color: white;
	width: 1200px;
}

body {
	font-family: sans-serif;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;


}

.barra-superior {
	display: flex;
	align-items: center;
	height: 100px;
	background-color: rgba(34, 69, 224, 0.7740);
}


.titulo-principal, .contenedor-menu {
	width: 50%;
}
.footer{
    height: 200px;
    background-color: darkblue;
    bottom: 0px;
    /* position: fixed; */
    /* width: 1200px; */

}

.menu-principal {
	text-decoration: none;
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	color: #000000;
}

.menu-principal_item > a {
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}
.lin-2{
    background-color: lightgray;
    padding-left: 15px;
    font-size: 15px;
}

.col-3{
    width: 33.08%;
    height: 470px;
    background-color: aquamarine;
    display: inline-block;
    padding: -15px;
    margin-top: 5px;
    text-align: center;

}
.menu-principal_item > a:hover {
	font-size: 28px;
	text-decoration: underline;
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	color: #ffffff;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_titulo {
	position: absolute;
	color: #000000;
	height: 500px;

}